h1 {
    text-align: center;
    color: black;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 900;
}
h3 {
    text-align: center;
    color: black;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: 900;
}